body {
  font-family: 'Open Sans', sans-serif;
  color: DarkBlue;
  background-color: Ivory;
  margin: 10px 50px;
}
 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}
 
img.logo {
  display: inline;
  height: 1.2em;
  width: auto;
  vertical-align: middle;
}